<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827439833710-01cu8oed84nphjju12tcbgq0l7ml4frl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827439833710-01cu8oed84nphjju12tcbgq0l7ml4frl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>827439833710-6g8h7qkp8inmbaf504juu1mgijm68llq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCWg5VXj04EsRrepmASSkYK5JsUUzmS6E</string>
	<key>GCM_SENDER_ID</key>
	<string>827439833710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fixpair.app</string>
	<key>PROJECT_ID</key>
	<string>fixpair-606c8</string>
	<key>STORAGE_BUCKET</key>
	<string>fixpair-606c8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827439833710:ios:a106dcd6e2cc28a3d3fc7f</string>
</dict>
</plist>